/* Elastislide Style */
.es-carousel-wrapper{
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
}
.es-carousel ul li a{
}
.es-carousel ul li a img{
}
.es-nav span{
	position:absolute;
	background:transparent url(../images/elastislider_nav.png) no-repeat top left;
	width:18px;
	height:18px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
	left: 0;
}
.es-nav span.es-nav-next{
	left:auto;
	background-position:top right;
	right: 0;
}
.es-nav span:hover{
	opacity:1.0;
}
.es-nav span.disabled {
	opacity:0.2;
}
.es-nav {
	position: absolute;
    right: 3px;
    top: -33px;
    height: 18px;
    width: 38px;
}
