.boxed .slider.images-grid {
    margin-left:-20px;
    margin-right:-20px;
}

.dg-wrap {
	width: 600px;
	height: 400px;
	position: relative;
	padding: 0;
	overflow: hidden;
	margin-top: -22px;
}
.dg-column-wrap {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.dg-cell-wrap {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.dg-main-content-inner-wrap {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.dg-image {
	display: block;
	margin: 0;
	padding: 0;
	max-width: none !important;
}

/* Content General Styles */

.dg-lightbox-link {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	display: block;
	width: 100%;
	height: 100%;
}
.dg-add-content-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: #000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	text-align: left;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.dg-add-content-wrap .dg-image-title {
	font: 14px/18px helvetica, tahoma, sans-serif;
	color: white;
}
.dg-add-content-wrap .dg-image-description {
	font: 10px/18px helvetica, tahoma, sans-serif;
	color: #aeaeae;
}

.dg-image-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.dg-image-link a {
	display: block;
	width: 100%;
	height: 100%;
}

/* Animations */

.dg-add-content-wrap {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(1.35);
	-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-out;
	-moz-transform: scale(1.35);
	-moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-out;
	transform: scale(1.35);
	transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.dg-hover .dg-add-content-wrap {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

/* Title Mode Styles */

.dg-cell-wrap.dg-title-mode .dg-add-content-wrap {
/*	box-sizing: content-box;*/
/*	-moz-box-sizing: border-box;*/
	-webkit-box-sizing: content-box;
	text-align: center;
	display: table;
}

.dg-cell-wrap.dg-title-mode .dg-add-content-wrap .dg-image-title {
	font-size: 18px;
	line-height: 24px;
	display: table-cell; 
	vertical-align: middle;
}

/* No Content Mode Styles */

.dg-cell-wrap.dg-no-content .dg-add-content-wrap {
	display: none;
}








































/* LIGHTBOX */


/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}