
/* ====================================== */
/* 			General
/* ====================================== */


.prpos,.prpos:hover{
	float:left !important;
	margin-top:2px !important;
	margin-left:10px !important; 
	background:url(../images/preview.png) no-repeat 10px 2px !important; 
	padding-left:33px !important;	
}
							
.button_duplicate_slider,
.button_duplicate_slider:hover{	
	background:url(../images/duplicate.png) no-repeat 10px 2px !important; 
	padding-left:33px !important;
}

.greenbutton	{	
					color:#fff;
					line-height: 15px;
					padding: 3px 10px;
					white-space: nowrap;
					-webkit-border-radius: 3px;					
					-moz-border-radius: 3px;					
					border-radius: 3px;					
					color: white !important;
					text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
					border: 1px solid #5fac1c !important;			
					font-size: 12px!important;					
					text-decoration:none;
					font-weight:bold;
					background:url(../images/edit.png) no-repeat 10px 2px; padding-left:33px;
					background-color:#72c826;
				}
.greenbutton:hover	{	border:1px solid #407016 !important}				


.orangebutton,.orangebutton:hover,.orangebutton:active{
	 				background:url(../images/update.png) no-repeat 10px 2px;
					background-color:#ff8920;
					color:#fff;
					line-height: 15px;
					padding: 3px 10px;
					white-space: nowrap;
					-webkit-border-radius: 3px;					
					-moz-border-radius: 3px;					
					border-radius: 3px;					
					color: white !important;
					text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
					border: 1px solid #d36d00 !important;			
					font-size: 12px!important;					
					text-decoration:none;
					font-weight:bold;
					 padding-left:33px;
				}
.orangebutton:hover	{	border:1px solid #783b00 !important}				


.tp-plugin-version{
	text-align:right;
	padding-right:20px;
	padding-top:10px;
}

.postbox {
			background:url(../images/grain.png) repeat #f1f1f1;
}

#div_debug{
	xpadding:10px;
	display:none;
}

.unite_error_message, .unite_success_message{
	width:500px;
	margin:10px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 3px 3px 3px 3px;
	color:#000000;
}

.unite_error_message{
	border:1px solid #FA7C7C;
	background-color:#FEE2E2;
}

.unite_success_message{
	border:1px solid #7ED090;
	background-color:#E3F5E7;
}

.margin_left10{
	margin-left:10px !important;
}

.margin_top10{
	margin-top:10px !important;
}

.margin_top2{
	margin-top:4px !important;
}

.margin_right10{
	margin-right:10px !important;
}

.vert_sap_5{
	margin-top:5px !important;
}

.vert_sap_small{
	margin-top:10px !important;
}

.vert_sap{
	margin-top:20px !important;
}

.vert_sap_medium{
	margin-top:40px !important;
}

.mleft_10{
	margin-left:10px !important;
}

.mleft_15{
	margin-left:15px !important;
}

.mleft_20{
	margin-left:20px !important;
}

.hor_sap{
	padding-left:10px;
	line-height:30px;
}

.hor_sap_double{
	padding-right:30px;
	float:left;
}

.hor_sap_double_left{
	display:block;
	float:left;
	width:30px;
	height:2px;
}

.unite_table_items tr td{
	height:40px;
	padding-top:10px;
}

.unite_table_items tr td a{
	font-size:14px;
}

.unite_table_items tr td div.button_slider_preview{
	width:18px;	
	height:18px;
	background:url(../images/preview.png) no-repeat;
	cursor:pointer;
	margin-left:16px;
	margin-top:3px;
}


#frame_preview_slider{
	width:1070px;
	height:460px;
	margin-top:10px;
}


.loader_round{
	width:16px;
	height:16px;
	background-image:url('../images/loader.gif');
	background-repeat:no-repeat;
	padding-left:20px;
}

.success_message{
	color:green;
}

/* ====================================== */
/* 			Settings Wide
/* ====================================== */

.unite_settings_wide hr{
	border:0px;
	border-top:1px dashed #999;
	width:400px;
	float:left;
}


.unite_settings_wide span{
	padding-left:5px;
}

#button_duplicate_layer.button-disabled {

	border-color:#bbb;
	color:#464646;
/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.unite_settings_wide .disabled th,
.unite_settings_wide .disabled td,
.unite_settings_wide .disabled input,
.unite_settings_wide .disabled select,
.unite_settings_wide .disabled .description,
.unite_settings_wide .disabled{
	color:#6D6D6D;
}

.unite_settings_wide .disabled input{
	background-color:#F0F0F0;
}

/* ====================================== */
/* 			Textbox Classes
/* ====================================== */

.textbox-small{
	width:60px;
}

.text-sidebar{
	width:60px;
}

.text-sidebar-normal{
	width:100px;
}

.text-sidebar-long{
	width:125px;
}

.text-sidebar-link{
	width:340px;
}

/* ====================================== */
/* 			Settings
/* ====================================== */

.unite-postbox{
}

.unite-postbox hr{
	border:none;
	border-top:1px solid #ddd;
	border-bottom:1px solid #fff;
}

.unite-postbox h3{
	cursor:default;
	height:25px;
	cursor:pointer;
	padding:0px;
	margin:0px;
	position:relative;
}

.unite-postbox h3.no-accordion{
	cursor:default;
}

.unite-postbox h3 .postbox-arrow{
	width:25px;
	height:25px;
	float:right;
	background-image:url('../images/wp-arrows.png');
	background-repeat:no-repeat;
	background-position:right 5px;
	margin-right:4px;
}

.unite-postbox .inputCheckbox{
	margin-top:6px;	
}

.unite-postbox h3.box_closed .postbox-arrow{
	background-position:right -66px;
}

.unite-postbox h3 span{
	display:block;
	padding-top:5px;
	padding-left:5px;
	color:#000000;
	max-width:200px;
	float:left;
}

/* style disabled input */
.unite-postbox li.disabled input,
.unite-postbox input[type='text'][disabled='disabled']{
	color:#6D6D6D;
}

.view_wrapper{
	position:relative;
}

/* color picker */
#divColorPicker{
	position:absolute;
}

.zoomfact-text{
	width:70px;
}

.wp-admin select{
	min-width:80px;
}

.settings_panel{
	margin-top:10px;
}

.settings_panel .settings_panel_left{
	float:left;
	width:630px;
}

.settings_panel .setting_required{
	font-size:16px;
	color:red;
}

.settings_panel_left .description{
	display:block;
}


.settings_panel_left .button-primary{
	margin-top:20px;
}

.settings_panel_left .button_preview_slider{
	width:18px;
	height:18px;
	background:url(../images/preview.png) no-repeat;
	cursor:pointer;
	margin-left:30px;
	margin-top:0px;
	display:block;
	float:left;
}

.settings_panel .settings_panel_right{
	float:left;
	width:300px;
}

.list_settings{
	padding:0px;
	margin:0px;
}

.list_settings li{
	display:block;
	padding-left:5px;
	padding-top:10px;
	padding-bottom:4px;
}

.list_settings li.disabled{
	color:#6D6D6D;
}

.list_settings li .setting_text,
.list_settings li .setting_input,
.list_settings li .setting_unit{
	display:block;
	float:left;
}


.list_settings li .setting_text{
	min-width:140px;
	padding-right:4px;
	corsor:default;
	text-align:left;
}

.list_settings li .setting_unit{
	padding-left:2px;
	padding-top:3px;
}

.list_settings li .settings_addhtml{
	padding-left:10px;
}

.list_settings li .setting_input select{
	min-width:60px;
}

.list_settings .inputColorPicker{
	width:110px;
}


.settings_buttons{
	padding-top:15px;
	padding-bottom:5px;
}

.button-image-select{
	 margin-right:5px;
}

.setting-image-preview{
	border:1px dashed black;
	width:100px;
	height:70px;
	display:block;
	margin-right:10px;
	float:left;
}

.settings_wrap .link_setting_title{
	font-size:12px;
	float:right;
	margin-right:10px;
}

.settings_wrap .link_setting_title.link-selected{
	color:green;
}

/* ====================================== */
/* 			Edit Slider
/* ====================================== */


#button_save_slider{
	float:left;
	margin:0px;
	text-align:center;
}

#button_cancel_save_slider {
	float:left;
	margin:0px;
	margin-left:20px;
}


.button_delete_slider, #button_delete_layer, #button_delete_all,
.button_delete_slider:hover, #button_delete_layer:hover, #button_delete_all:hover {
	color: white !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) !important;
	border: 1px solid #b11a1a !important;
	font-weight:bold;
	background:url(../images/delete.png) no-repeat 10px 2px !important; 
	background-color: #c82626 !important;
	padding-left:33px !important;
	
}

#button_delete_layer.button-disabled {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

#button_delete_slider {
	display:block;
	float:left;
	margin:0px;
	margin-left:10px;
	margin-right:0px;
	margin-top:2px;
	background:url(../images/delete.png) no-repeat 10px 2px; padding-left:33px;
	background-color:#c82626;
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid #CE8787;
}

.button_delete_slide {
	background:url(../images/delete.png) no-repeat 10px 2px; 
	width:82px !important;
	color: white !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) !important;
	border: 1px solid #CE8787 !important;
	background-color: #c82626 !important;
	padding-left:33px;
}

.button_delete_slider:hover,
#button_delete_slider:hover,
.button_delete_slide:hover			{ border-color:#420707 !important;}

#button_close_slider_edit{
	display:block;
	float:left;
	margin:2px 0px 0px 10px;
	text-align:center;
	background:url(../images/close.png) no-repeat 10px 2px; padding-left:33px;
	background-color:#21759B;
}

#button_close_slide, .button_close_slide	{
	background-image:url(../images/close.png) !important;
	background-repeat:no-repeat !important;
	background-position:10px 3px !important; padding-left:33px !important;	
	margin-left:18px;
}

#link_edit_slides{
	display:block;
	float:left;
	margin-left:10px;
	font-size:18px;
	margin-top:2px;
	
}

#slider_update_button_wrapper div, #slider_update_button_wrapper a{
	float:left;
}


/* ====================================== */
/* 			Slides List
/* ====================================== */

.sliders_list_container{
	width:680px;
}

.box-slideslist h3{
	height:20px;
	padding-top:5px;
	padding-left:5px;
}

.box-slideslist .slideslist-title{
	float:left;
	width:200px;
}

.box-slideslist .slideslist-loading{
	float:right;
	width:100px;
	padding-right:10px;
	text-align:right;
	font-size:12px;
	display:none;
}

#list_slides{
	margin:10px;
	padding:0px;
}

#list_slides li{
	padding:5px;
	padding-bottom:3px;
}

#list_slides li span.slide-col{
	float:left;
	display:block;
	text-align:center;
}

#list_slides li span.col-id{
	width: 30px;
	padding-top: 5px;
	font-size: 16px;
	font-weight: normal;
	color: #999;
	text-shadow: 0px 1px 1px white;
}

#list_slides li span.col-name{
	min-width:210px;
	width:210px;
	margin-top:33px;
	margin-left:-30px;

}

#list_slides li .button_delete_slide{
	display:block;
	
	width:35px;
	margin:8px auto 0px;
	background:url(../images/delete.png) no-repeat 10px 2px; 
	background-color: #c82626;
	padding-left:33px;

}

#list_slides li span.col-name .button_edit_slide{
	display:block;
	width:55px;
	margin:0px auto;
	margin-top:12px;
}

#list_slides li span.col-operations{
	width:120px;
	padding-top:15px;
	text-align:center;
	display:block;
	padding-left:15px;
}


#list_slides li span.col-handle{
	float:right;
	border:1px solid #A1A1A1;
	background-color:#E0E0E0;

	opacity: .6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);

	height:100px;
	width:30px;
	cursor:move;
	margin-top:2px;
}

#list_slides li div.col-handle-inside{
	padding-top:43px;
	padding-left:7px;
}

#list_slides .col-image{
	display:block;
	width:200px;
	text-align:center;
	margin-top:2px;
}

.col-image .slide_image{
	cursor:pointer;
	border:1px solid #b5b5b5;
	background-color:#e5e5e5;
	padding:1px;
}

#list_slides .button_duplicate_slide{
	background:url(../images/duplicate.png) no-repeat 10px 2px; 
	padding-left:33px;
	display:block;
	width:97px;
	margin:0px auto;
	margin-top:14px;
}

#button_duplicate_layer	{
	background:url(../images/duplicate.png) no-repeat 10px 2px; 
	padding-left:33px;
}

/* ====================================== */
/* 			Edit Slide
/* ====================================== */

.edit_slide_wrapper .editor_buttons_wrapper a
{
	float:left;
}

#dialog_preview{
	padding:0px !important;
	overflow:hidden !important;
}

#button_preview_slide{
	background:url(../images/preview.png) no-repeat 10px 2px !important;
	padding-left:33px;	
}

#frame_preview{
	margin-left:4px;
	margin-top:8px;
	xborder:1px solid black;
	xoverflow:hidden;
}

/* ====================================== */
/* 			Video Dialog
/* ====================================== */

.ui-dialog-content,
.ui-dialog-buttonpane{
	cursor:default;
}

#dialog_video{
	cursor:default;
}

.dialog-video .video-title{
	margin-bottom:5px;
}

.dialog-video .video_example{
	font-style:italic;
	font-size:11px;
	display:block;
	margin-top:2px;
	cursor:text;
}

.dialog-video .button-regular{
	cursor:pointer;
}

.dialog-video .video_left{
	float:left;
	width:270px;
}

.dialog-video .video_right{
	float:left;
	width:390px;
	margin-left:5px;
}

.dialog-video #button-video-add{
	color:white;
}

.dialog-video .add-button-wrapper{
	margin-top:50px;
	margin-left:50px;
}

.dialog-video .youtube-inputs-wrapper{
	margin-top:30px;
}

.dialog-video .video-input-small{
	width:50px;
}

.dialog-video #input_youtube_width{
	margin-right:20px;
}

.dialog-video .video-content-title{
	font-weight:bold;
	padding-bottom:5px;
}

.dialog-video .video-content-description{
	padding-top:3px;
}

.dialog-video .video-content-error{
	padding-top:30px;
	text-align:center;
	font-size:16px;
	color:red;
}

.dialog-video .choose-video-type{
	margin-bottom:5px;
}

.dialog-video .video-select-block{
	margin-top:20px;
	border-top:1px dashed black;
	padding-top:15px;
}

.dialog-video #video_radio_youtube{
	margin-right:5px;
}


/* ====================================== */
/* 			Video Dialog End
/* ====================================== */


/* ====================================== */
/*	API (slider settings view), and toolbox
/* ====================================== */

.advanced_links_wrapper{
	margin-top:35px;	
}

.advanced_links_wrapper .button-selected{
	color:green;
}

#link_show_api{
	display:block;
	float:left;	
	margin-left:200px;
}

#link_show_toolbox{
	margin-left:20px;
}

.api_wrapper,.toolbox_wrapper{
	margin-top:50px;
}

.api_wrapper .api-caption,
.toolbox_wrapper .api-caption{
	font-size:14px;
	font-weight:bold;
}

.api_wrapper .api-desc,
.toolbox_wrapper .api-desc{
	margin-top:2px;
	margin-bottom:10px;
	font-style:italic;
}

.api-table .api-cell1{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.api-input{
	width:160px;
	font-weight:bold;
}

#api_area{
	width:400px;
	height:250px;
}


/* ====================================== */
/*	Codemirror Editor 
/* ====================================== */

.CodeMirror-scroll{
	height:400px !important;
}


/**************************
	-	SOME EXTRAS 	-
***************************/


.newlineheight	{	float:left; margin-right:10px !important;margin-bottom:10px !important;}
 @media only screen and (max-width: 768px) {
	.clearme		{	clear:both;}
	}

.button-secondary, .button-primary	{	border-radius:3px !important; -webkit-border-radius:3px !important; -moz-border-radius:3px !important;}



