#portfolio.slider ul { list-style:none; margin:0; padding-top:20px; display:block; }
#portfolio.slider li { margin-bottom:40px; position: relative;}  
#portfolio.slider li.hentry { padding:0 }
#portfolio.slider li.first { clear:both }
#portfolio.slider li .thumb { display:block; overflow:hidden; position:relative; margin-bottom: 10px; border: 6px solid #eee }
#portfolio.slider li .thumb:hover { border: 6px solid #F29A03 }
#portfolio.slider h3 { padding-bottom: 10px; border-bottom: 2px solid #eee; }
.portfolio.slider h5 a{font-size:16px;}  

#portfolio.slider li p { margin-bottom:15px; font-size:1em } 
#portfolio.slider li p img { display:block }   

