#ie8 div.anythingSlider .arrow {
    top: 50% !important;
}
#ie8 div.anythingSlider-metallic .arrow {
    top: 40% !important;
}
#ie8 div.anythingSlider-construction .arrow {
    top: 14% !important;
}
#ie8 div.anythingSlider-minimalist-round .arrow , div.anythingSlider-minimalist-square .arrow {
    top: 45% !important;
}
#ie8 div.anythingSlider-cs-portfolio .arrow {
    bottom: -24px !important;
}

#ie8 div.anythingSlider .arrow a,
#ie8 div.anythingSlider-metallic .arrow a,
#ie8 div.anythingSlider-minimalist-square .arrow a,
#ie8 div.anythingSlider-construction .arrow a,
#ie8 div.anythingSlider-minimalist-round .arrow a {
    margin: 0 !important;
}

#ie8 div.anythingSlider .thumbNav a { display: inline !important; }

#ie8 #sheeva-widget-area {
    position: relative;
    top: -100px;
}