#wpbody-content {
	width: auto !important;
}

tbody .ui-sortable-placeholder
tbody.ui-sortable tr {
	height: 25px;
}

.ls-global-table {
	padding: 5px;
	background-color: #efefef;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 10px -8px black;
	border: 1px solid #ccc;
	width: auto;
	border-collapse: separate;
	position: relative;
	margin: 0px !important;
	z-index: 1;
	top: -1px;
}

.ls-global-table label {
	margin-right: 10px;
}

.ls-openclose {
	display: none;
}

.ls-global-table textarea {
	width: 500px;
	height: 100px;
}

.ls-global-table span.description {
	display: inline-block;
	width: 500px;
	text-align: justify;
}

.ls-global-table h2 {
	width: 600px;
}

.ls-global-table .description {
   display: inline-block;
   width: 500px;
   text-align: justify;
}

.ls-global-table input.big {
   width: 500px;
}

.layerslider_slides {
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*overflow: hidden;*/
	margin: 40px 0px;
	box-shadow: 0px 5px 10px -8px black;
	border: 1px solid #ccc;
}

.layerslider-advanced-options {
	font-size: 0px;
	height: 0px;
	position: relative;
	top: 3px;
}

.layerslider-advanced-options input,
.layerslider-advanced-options span {
	display: inline-block;
}

.layerslider-advanced-options input {
	width: auto !important;
	margin: 0px 5px 0px 10px;
}

.layerslider-advanced-options span {	
	font-size: 15px;
}

.layerslider_sublayer {
	margin-left: 20px;
	list-style-type: decimal;
}

.layerslider_slides input {
	width: 50px;
}

.layerslider_slides input.layerslider-layer-select {
	width: auto;
}

.layerslider_slides select {
	width: 75px;
}

.layerslider_slides td,
.layerslider_slides th {
	padding: 0px 8px;
	font-size: 10px;
}

#layerslider_slides_code {
	display: none;
}

#layerslider-sample-tab {
	display: none;
}

.layerslider_slides th {
	text-align: left;
}

.layerslider_slides table {
	margin: 0px;
	padding: 10px 0px;
	border-spacing: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ddd;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #bbb;
	margin: 10px 10px 0px 0px;
}

.button-primary {
	margin-right: 10px;
}

.layerslider_slides table .button-primary {
	margin-right: 0px;
}

.layerslider-yourlogo-img {
	z-index: 99 !important;
}

.moveable {
	width: 14px;
	height: 14px;
	background-image: url(../img/move.png);
	cursor: pointer;
}

.draggable_wrapper {
	position: relative;
	background: #ddd !important;
	border-bottom: 1px solid #fff;
}

.draggable {
	overflow: hidden;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.draggable > * {
	cursor: default;
	position: absolute;
}

.ui-state-highlight {
	width: 100% !important;
	height: 25px !important;
	background: #aaa !important;
}

h2.layertitle {
	position: relative;
	font-size: 17px;
	font-weight: bold;
	line-height: normal;
	height: 23px;
	display: inline-block;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 10px;
	background: #ddd;
	margin-top: 20px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #bbb;
}

h2.ls-maintitle {
	margin-bottom: 20px;
}

h2.ls-maintitle span {
	font: normal normal normal 13px/29px Arial, serif;
	color: #21759B;
	cursor: pointer;
}
/* TABS */

.ui-tabs-nav {
	margin-bottom: 0px !important;
	z-index: 2;
	position: relative;
}

.ui-tabs-nav li {
	float: left;
	height: 20px;
	padding: 5px 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #999;
	margin-bottom: 0px !important;
	margin-right: 2px;
}

.ui-tabs-selected {
	background: #efefef !important;
	border: 1px solid #ccc;
	border-bottom: 0px;
	position: relative;
}

.ui-tabs-nav li a {
	font-size: 12px;
	line-height: 20px;
	color: #555;
	text-shadow: 0px 1px 0px #bbb;
	text-decoration: none;
}

.ui-tabs-nav li a:hover,
.ui-tabs-nav li:hover a {
	color: white;
	text-shadow: 0px -1px 0px #0f5b7f;
	text-decoration: none;
}

.ui-tabs-nav li:hover {
	background: #298cba;
	background: -moz-linear-gradient(top,  #298cba 0%, #0f5b7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(100%,#0f5b7f));
	background: -webkit-linear-gradient(top,  #298cba 0%,#0f5b7f 100%);
	background: -o-linear-gradient(top,  #298cba 0%,#0f5b7f 100%);
	background: -ms-linear-gradient(top,  #298cba 0%,#0f5b7f 100%);
	background: linear-gradient(top,  #298cba 0%,#0f5b7f 100%);
}

.ui-tabs-nav li span {
	display: inline-block;
	width: 11px;
	height: 12px;
	margin: auto -3px auto 7px;
	font-weight: bold;
	position: relative;
	color: #656565;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	cursor: pointer;
	border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 2px solid #656565;
	text-shadow: 0px 1px 0px #bbb;
	box-shadow: 0px 1px 0px #bbb;
}

.ui-tabs-nav li:hover span {
	color: white;
	border-color: white;
	text-shadow: 0px -1px 0px #0f5b7f;
	box-shadow: 0px -1px 0px #0f5b7f;	
}

.ui-tabs-selected a,
.ui-tabs-selected a:hover {
	font-size: 16px !important;
	color: #333 !important;
	cursor: default;
	text-shadow: 0px 1px 0px white !important;
}

.ui-tabs-selected span {
	top: -1px;
	width: 14px !important;
	height: 14px !important;
	line-height: 14px !important;
	font-size: 12px !important;
	color: #555 !important;
	border-color: #555 !important;
	text-shadow: 0px 1px 0px white !important;
	box-shadow: 0px 1px 0px white !important;
}

.ls-hidden {
	display: none;
	font-style: normal;
}

.ui-tabs-selected .ls-hidden {
	display: inline;
}

.layerslider-advanced-options input {
	vertical-align: text-bottom;
}

/* IMPORT / EXPORT */

#layerslider-export {
	padding: 5px 15px;
	background-color: #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 10px -8px black;
	border: 1px solid #ccc;
	border-collapse: separate;
	margin: 20px 0px !important;
	width: 731px;
	display: none;
}

#layerslider-export h2 {
	padding-right: 0px;
}

#layerslider-export button {
	margin-right: 0px;
}

#layerslider-export .left {
	width: 365px;
	float: left;
	border-right: 1px solid #999;
}

#layerslider-export .right {
	width: 365px;
	float:left;
	text-align: right;
}

#layerslider-export .clear {
	clear: both;
}

#layerslider-export textarea {
	width: 350px;
	height: 100px;
}