.portfolio-full-description { margin-top:20px }
.portfolio-full-description .work { margin-bottom:60px; position:relative; }
.portfolio-full-description .work-description { line-height: 2em; margin-bottom:90px; }
.portfolio-full-description h3, .portfolio-full-description h3 a { clear:none; margin-top:0 !important; font-size:28px; font-weight:normal; margin-bottom:1.4em; text-decoration:none; }
.portfolio-full-description a.thumb { display:block; position:relative; }
.portfolio-full-description .work-thumbnail .thumb-wrapper { /* border:8px solid #cdcfd0; */ }
.portfolio-full-description a.more { padding:10px 20px; text-align:center; border:1px solid #CFCFCF; background:#f3f3f3; color:#605f5f; display:inline-block; line-height:16px }
.portfolio-full-description a.more:hover { border:1px solid #CFCFCF; background:#eae7e7; text-decoration:none }   
.portfolio-full-description a.zoom { position:absolute; }  
.portfolio-full-description .work-skillsdate  { position:absolute; bottom:0; right:0; }
.portfolio-full-description .work-skillsdate p { border-left:4px solid #d18f1d; padding:0 0 0 40px; margin:0; background:no-repeat 10px 3px; }
.portfolio-full-description .work-skillsdate p.categories { background-image:url('../../../images/icons/portfolio-project.png'); }
.portfolio-full-description .work-skillsdate p.customer   { background-image:url('../../../images/icons/author.png'); background-position:9px 0; }
.portfolio-full-description .work-skillsdate p.workdate   { background-image:url('../../../images/icons/date.png'); background-position:7px 2px; }
.portfolio-full-description .work-skillsdate span { padding-right: 5px; text-transform: none; font-weight: bold; }
.portfolio-full-description .hentry .post_video { margin: 0; padding: 0; height: 330px }

.related_project { margin-bottom:20px; }

#portfolio.portfolio-full-description a.related_img a.zoom { background:#000 url('../../../images/icons/project.png') center no-repeat }
.portfolio-full-description .post_video { height: 350px; }
.portfolio-full-description .fulldescription_title h1 { font-size: 22px }

.portfolio-full-description .extra-images-slider { position:relative; }
.portfolio-full-description .extra-images-slider ul.slides li { display:none; -webkit-backface-visibility: hidden; }
.portfolio-full-description .extra-images-slider ul.slides li img { max-width: 100.003%; }
.portfolio-full-description .flex-direction-nav { width:59px; height:28px; position:absolute; bottom:10px; right:13px;}
.portfolio-full-description .flex-direction-nav li a { display:block; position:static; margin:0; opacity:1; width:28px; height:28px; text-indent:-9999; outline:none; background:url('../images/slider-nav.png') no-repeat; overflow: hidden; line-height: 9999em; }
.portfolio-full-description .flex-direction-nav li a.flex-prev { background-position: top left; float:left; }
.portfolio-full-description .flex-direction-nav li a.flex-next { background-position: top right; float:right; }