ul#portfolio.columns { list-style:none; margin:0; padding-top:20px; }
#portfolio.columns li { margin-bottom:40px; position: relative;}  
#portfolio.columns li.hentry { padding:0 }
#portfolio.columns li.first { clear:both }
#portfolio.columns li .thumb { display:block; overflow:hidden; position:relative; margin-bottom: 10px; border: 6px solid #eee }
#portfolio.columns li .thumb:hover { border: 6px solid #F29A03 }

.portfolio.columns h5 a{font-size:16px;}  

#portfolio.columns li p { margin-bottom:15px; font-size:1em } 
#portfolio.columns li p img { display:block }   

/*
#portfolio.columns .overlay {display:none; background: none repeat scroll 0 0 #000;height:100%;left:0;overflow: hidden; position: absolute; top:0; width:100%; opacity: .7; text-align: center}
#portfolio.columns .overlay a { display: block; float: left; height: 100%; width: 50%; line-height: 9999px; overflow: hidden; }
#portfolio.columns .overlay a.overlay_project { background: url('../../../../../images/icons/project.png') 10% center no-repeat }
#portfolio.columns .overlay a.overlay_img { background: url('../../../../../images/icons/zoom.png') 90% center no-repeat }
#portfolio.columns .overlay a.overlay_video { background: url('../../../../../images/icons/play.png') 90% center no-repeat }
#portfolio.columns .overlay span.overlay_title { position: absolute; bottom: 25%; color: white; text-align: center; display: block; width: 100%; font-family: 'Maven Pro',sans-serif; font-size: 16px; line-height: 15px; }
#portfolio.columns .overlay span.overlay_subtitle { bottom: 12%; color: white; font-size: 11px; line-height: 15px; }
#portfolio.columns .overlay_wrapper { position:relative; }
#portfolio.columns .overlay_a {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border: 6px solid #eee
}
#portfolio.columns .overlay_a:hover { border: 6px solid #F29A03 }
*/