.slider.flash .slider-wrapper {
	position: relative;
	max-width:100%;
	overflow: hidden;
}

.slider.flash .slider-wrapper object {
	height:100%;
	width:100%;
}

.ipad .slider.flash {
    display:none !important;
}

.ipad .mobile-slider.flash {
    display:block !important;
}