.blog-elegant { margin-bottom: 50px; }

.blog-elegant .post-title:hover,
.blog-elegant .post-title a:hover { color: #B77A2B; }

/* === TITLE */
.blog-elegant .post-title,
.blog-elegant .post-title a {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 25px;
}

/* === THUMBNAIL */
.blog-elegant > .thumbnail {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.blog-elegant .attachment-blog_elegant {
    border-radius: 15px;
    margin-bottom: 28px;
}

/* === META */
.blog-elegant .meta div {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 20px;
}

.blog-elegant .meta div.fade-socials-small {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.blog-elegant .meta > div:last-child { border-bottom: 0px; }
.blog-elegant .meta > div.last-child { border-bottom: 0px; }

.blog-elegant .meta div p.author,
.blog-elegant .meta div p.author i { margin-top: 0px; }

.blog-elegant .meta div p.comments {
    margin-bottom: 0px;
    margin-top: 20px;
}

.blog-elegant .meta div p {
    margin-bottom: -6px;
}

.blog-elegant .meta div p i {
    font-size: 14px;
    margin-right: 14px;
}

.blog-elegant .meta div p img { margin-right: 6px; }
.blog-elegant .meta div p span,
.blog-elegant .meta div p a span,
.blog-elegant .meta div p a:hover span,
.blog-elegant .meta div p a:hover {
    color: #000;
}

.blog-elegant .meta div p a { color: #5f5e5e; }

.blog-elegant .meta div p a span { cursor: text; }

/* === SHARE */
.blog-elegant .meta .socials {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.blog-elegant .meta .socials h2 {
    color: #000;
    font-size: 12px;
}

/* === CONTENT */
.blog-elegant .the-content > div {
    border-left: 1px solid #cfcfcf;    
    padding-left: 20px;
    position: relative;
}

@media (max-width: 767px) {
    .blog-elegant .the-content > div {
        border-left: 0px;
        padding-left: 0px;
    }
}

#content-single .blog-elegant .the-content div { padding-bottom: 30px; }
#content-single .blog-elegant .the-content div.post_video { min-height: 300px; }

/* === POST FORMATS */
.blog-elegant .post-format {
    background: url(../../../images/post-formats.png);
    display: block;
    margin: 0px;
    position: absolute;
    left: 32px;
    top: 13px;
    text-indent: -9999px;
    width: 33px;
    height: 33px;
}

.blog-elegant .without.thumbnail .post-format { display: none; }

@media (max-width: 767px) {
    .blog-elegant .post-format { left: 13px; }
}

.blog-elegant .post-format.gallery { background-position: left top; }
.blog-elegant .post-format.audio { background-position: center top; }
.blog-elegant .post-format.video { background-position: right top; }

.blog-elegant .thumbnail .images-slider-sc ol { bottom: 32px; }

.blog-elegant.format-quote .meta { padding-top: 0px; }
.blog-elegant.format-quote .post-title {
    background-position: 0px 25px;
    font-size: 19px;
    margin-top: 15px;
    padding-left: 35px;
    padding-bottom: 12px;
}

.blog-elegant.format-quote .post-title cite {
    color: #a96605;
    display: block;
    font-size: 16px;
}

.blog-elegant.format-quote .post-title cite:before { content: "- "; }