
.tp-caption.main_title{
	position: absolute; 
	color: #373636; 
	text-shadow: none; 
	font-weight: 700; 
	font-size: 48px; 
	line-height: 48px; 
	font-family: 'Maven Pro',sans-serif; 
	padding: 0px 4px; 
	padding-top: 1px;
	margin: 0px; 
	border-width: 0px; 
	border-style: none; 
	background-color:none;	
	letter-spacing: 0;										
}

.tp-caption.paragraph{
	position: absolute; 
	color: #373636; 
	text-shadow: none; 
	font-weight: 400; 
	font-size: 17px; 
	line-height: 1.71em; 
	font-family: 'Maven Pro',sans-serif; 
	padding: 0px 4px; 
	padding-top: 1px;
	margin: 0px; 
	border-width: 0px; 
	border-style: none; 
	background-color:none;	
	letter-spacing: 0;										
}

.tp-caption.paragraph_highlighted{
	position: absolute; 
	color: #A96605; 
	text-shadow: none; 
	font-weight: 400; 
	font-size: 17px; 
	line-height: 1.71em; 
	font-family: 'Maven Pro',sans-serif; 
	padding: 0px 4px; 
	padding-top: 1px;
	margin: 0px; 
	border-width: 0px; 
	border-style: none; 
	background-color:none;	
	letter-spacing: 0;										
}